/* ============================================================================================ */

/* PAGE FOOTER */

/* ============================================================================================ */

@keyframes footerName {
  from {
    color: #0abfbc;
  }
  to {
    color: #fc354c;
  }
}

/* ============================================================================================ */

/* default; xs DEVICES less than 576px */
.page-footer {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  border-top: 3px solid #fc354c;
}
.footer-copyright {
  font-size: 20px;
}
.copyright-text {
  text-shadow: 1px 1px 8px #888888;
}
.link-name {
  color: #0abfbc;
  font-weight: bold;
}
.link-name:hover {
  color: #fc354c;
  text-decoration: none;
  animation-name: footerName;
  animation-duration: 0.5s;
  cursor: pointer;
}

/* ============================================================================================ */

/* SIZING FOR sm SCREEN SIZES; 576px - 767px */
@media (min-width: 576px) {
}

/* SIZING FOR md SCREEN SIZES; 768px - 991px */
@media (min-width: 768px) {
}

/* SIZING FOR lg SCREEN SIZES; 992px - 1199px */
@media (min-width: 992px) {
}

/* SIZING FOR xl SCREEN SIZES and UP; 1200px+ */
@media (min-width: 1200px) {
}
