/* default; xs DEVICES less than 576px */

/* PAGE BACKGROUND PATTERN */
html,
body {
  height: 100%;
}
body {
  background-attachment: fixed;
  margin: 0;
  --c: rgba(255, 255, 255, 0.7);
  --t: transparent;
  flex: 1;
  background-image: repeating-linear-gradient(
      45deg,
      var(--t) 0,
      var(--t) 32px,
      var(--c) 32px,
      var(--c) 44px,
      var(--t) 44px,
      var(--t) 56px,
      var(--c) 56px,
      var(--c) 68px,
      var(--t) 0
    ),
    repeating-linear-gradient(
      -45deg,
      var(--t) 0,
      var(--t) 32px,
      var(--c) 32px,
      var(--c) 44px,
      var(--t) 44px,
      var(--t) 56px,
      var(--c) 56px,
      var(--c) 68px,
      var(--t) 0
    ),
    linear-gradient(to bottom left, #fc354c, #0abfbc);
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #0abfbc;
  border: 2px solid whitesmoke;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #fec2c9;
}

/* HEADER */
.jumbotron {
  background-color: transparent;
  text-align: center;
  margin: 0;
}
.text-container {
  background-color: whitesmoke;
  padding: 10px;
  border: 5px solid whitesmoke;
  background-clip: content-box;
  box-shadow: 1px 1px 10px #6e6d6d;
}
.jumbotron-text {
  padding: 30px;
}
.page-links {
  color: black;
  font-size: 12px;
}
.page-links:hover {
  text-decoration: none;
  color: #fc354c;
}
.Header__link--active {
  border-bottom: 2px solid #0abfbc;
  color: #0abfbc;
}
.home-page-link {
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  color: #fc354c;
  border-bottom: 2px solid #0abfbc;
}
.home-page-link:hover {
  text-decoration: none;
  color: #971f2d;
}
.job-title {
  padding-top: 7px;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER */
.page-footer {
  background-color: whitesmoke;
  padding: 10px 0;
  text-align: center;
  border-top: 3px solid #fc354c;
}
.footer-copyright {
  font-size: 20px;
}
.copyright-text {
  text-shadow: 1px 1px 8px #888888;
}
.link-name {
  color: #0abfbc;
  font-weight: bold;
}
.link-name:hover {
  color: #fc354c;
  text-decoration: none;
}

/* MAIN PAGES (ALL) */
.main-container {
  background-color: transparent;
  margin: 0 15px 50px 15px;
  text-align: center;
}
.main-text-area {
  background-color: whitesmoke;
  padding: 10px;
  border: 5px solid whitesmoke;
  background-clip: content-box;
  box-shadow: 1px 1px 10px #6e6d6d;
}
.welcome-statement1 {
  padding: 40px 0px 0px 0px;
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  color: #0abfbc;
}
.welcome-statement2 {
  padding: 40px 0px 30px 0px;
  font-size: 18px;
  color: #fc354c;
}
.page-label {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  border-bottom: 2px solid black;
  margin: 20px 10px 0 10px;
  color: #0abfbc;
}
.section-spacing {
  border: 1px solid whitesmoke;
}

/* ABOUT ME */
.bio-image {
  width: 80%;
  border: 5px solid #fc354c;
  margin-bottom: 30px;
  box-shadow: 1px 1px 10px #888888;
}
.para1 {
  text-align: left;
  padding: 0 8px 0 8px;
  font-size: 15px;
}
.skill-item-main {
  background-color: #fc354c;
  color: white;
  margin: 5px;
  padding: 5px 0px;
  border-radius: 20px;
  font-size: 12px;
}

/* PORTFOLIO */
.project-section {
  margin: 0px 10px 10px 10px;
}
.tabs-section a {
  background-color: lightgray;
  color: darkslategray;
  font-size: 10px;
  padding: 5px;
}
.nav-tabs .nav-link.active {
  background-color: white;
  color: #fc354c;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.tabs-section a:hover {
  background-color: #cef2f1;
  color: lightseagreen;
}
.tab-content {
  background-color: white;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.card {
  background-color: #f4f4f4;
  border: 1px solid gray;
  margin: 5px;
  box-shadow: 1px 1px 10px #888888;
}
.project-img {
  height: 200px;
}
.art-img:hover {
  opacity: 0.5;
}
.card-title {
  background-color: #0abfbc;
  color: whitesmoke;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}
.project-link-btn {
  background-color: #fc354c;
  color: whitesmoke;
  padding: 8px;
  border-radius: 5px;
}
.project-link-btn:hover {
  background-color: #971f2d;
  text-decoration: none;
  color: whitesmoke;
}

/* CONTACT */
.contact-me-section {
  padding: 0px 20px;
}
.sns-section {
  background-color: lightgray;
  color: whitesmoke;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #888888;
}
.sns-link,
.email-link {
  font-size: 50px;
  margin: 0 10px;
  color: whitesmoke;
}
.sns-link-icon,
.resume-link,
.email-link {
  color: #fc354c;
}
.sns-link-icon:hover {
  color: #0abfbc;
}
.contact-address {
  font-size: 15px;
}
.email-link:hover {
  color: #0abfbc;
  text-decoration: none;
}
.resume-link:hover {
  color: #0abfbc;
}
.main-contact-card {
  width: 100%;
  margin-bottom: 30px;
}

/* ============================================================================================ */

/* SIZING FOR sm SCREEN SIZES; 576px - 767px */
@media (min-width: 576px) {
  .job-title {
    font-size: 24px;
    padding-top: 25px;
  }
  .page-links {
    font-size: 18px;
  }
  .project-img {
    height: 300px;
  }
  .tabs-section a {
    font-size: 15px;
    padding: 10px;
  }
}

/* SIZING FOR md SCREEN SIZES; 768px - 991px */
@media (min-width: 768px) {
  .job-title {
    padding-top: 15px;
  }
  .bio-image {
    width: 100%;
    margin-left: 15px;
  }
  .bio-paragraphs {
    height: 400px;
    overflow: scroll;
  }
  .project-img {
    height: 250px;
  }
  .card-title {
    font-size: 30px;
  }
  .card-text {
    font-size: 20px;
  }
  .project-link-btn {
    font-size: 20px;
  }
  .tabs-section a {
    font-size: 20px;
  }
}

/* SIZING FOR lg SCREEN SIZES; 992px - 1199px */
@media (min-width: 992px) {
  .job-title {
    padding-top: 12px;
  }
  .page-links {
    font-size: 24px;
  }
  .bio-paragraphs {
    height: 500px;
  }
  .para1 {
    font-size: 18px;
  }
  .project-img {
    height: 250px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 22px;
  }
  .project-link-btn {
    font-size: 16px;
    padding: 10px;
  }
}

/* SIZING FOR xl SCREEN SIZES and UP; 1200px+ */
@media (min-width: 1200px) {
  .bio-image {
    width: 65%;
  }
  .page-links {
    font-size: 20px;
  }
  .bio-paragraphs {
    height: 200px;
    overflow: visible;
  }
  .para1 {
    font-size: 16px;
  }
  .project-img {
    height: 250px;
  }
  .card-title {
    font-size: 30px;
  }
  .card-text {
    font-size: 18px;
  }
  .project-link-btn {
    font-size: 20px;
    padding: 8px;
  }
}
